<div class="bg-white mt-4 p-3 h-100">
  <div class="mb-3">
    <button nz-button [nzType]="'primary'" (click)="showDrawerCreateProduct()">
      <span>Thêm mới</span>
    </button>
  </div>
  <div class="d-flex mb-3">
    <div class="me-2" style="width: 300px">
      <label class="mb-1">Tìm kiếm sản phẩm</label>
      <br />
      <input
        nz-input
        type="text"
        (ngModelChange)="search($event)"
        [(ngModel)]="searchProduct.searchTerm"
        placeholder="Tìm kiếm sản phẩm"
      />
    </div>
    <div style="width: 200px">
      <label class="mb-1">Trạng thái</label> <br />
      <nz-select
        style="width: 100%"
        nzAllowClear
        class="selectStatus"
        nzPlaceHolder="Lọc theo trạng thái"
        (ngModelChange)="onChangeStatus($event)"
        [nzAllowClear]="false"
        [ngModel]="searchProduct.status"
      >
        <nz-option
          *ngFor="let item of commonService.statuses"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
    </div>
  </div>
  <!--  ---------------------------------  -->
  <div>
    <nz-table
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzPageSizeOptions]="commonService.pageSizeOptions"
      [nzPageIndex]="searchProduct.offset + 1"
      [nzPageSize]="searchProduct.limit"
      [nzTotal]="page ? page.totalElement : 0"
      nzNoResult="Không có dữ liệu"
      [nzData]="products"
      (nzPageIndexChange)="onChangeIndexPage($event)"
      (nzPageSizeChange)="onChangeSizePage($event)"
    >
      <thead>
        <tr>
          <th></th>
          <!-- <th>Ảnh</th> -->
          <th>Tên sản phẩm</th>
          <th>Danh mục</th>
          <th>Chất liệu</th>
          <th>Kiểu dáng</th>
          <th>Trạng thái</th>
          <th>Ngày tạo SP</th>
          <th>Cập nhật lúc</th>
          <th>Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of products; index as i">
          <tr>
            <td style="width: 40px" [(nzExpand)]="item.expand"></td>
            <!-- <td>
              <img
                nz-image
                width="50px"
                height="50px"
                [nzSrc]="item.productImages![0].image"
                alt=""
              />
            </td> -->
            <td>
              <b>{{ item.productName }}</b>
            </td>
            <td>{{ item.categoryName }}</td>
            <td>{{ item.materialName }}</td>
            <td>{{ item.modelName }}</td>
            <td>
              <nz-tag [nzColor]="item.status == 1 ? 'processing' : 'error'"
                >{{ item.status == 1 ? "Hoạt động" : "Đã xóa" }}
              </nz-tag>
            </td>
            <td>{{ item.ctime | date : "hh:mm dd/MM/yyyy" }}</td>
            <td>{{ item.mtime | date : "hh:mm dd/MM/yyyy" }}</td>
            <td style="text-align: center; width: 100px">
              <button nz-button nzType="text" (click)="showModalEdit(item.id)">
                <span
                  class="text-primary"
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                ></span>
              </button>
              <button
                nz-button
                nzType="text"
                (click)="updateStatus(item, i, item.status == 1 ? 0 : 1)"
              >
                <span
                  class="{{
                    item.status == 1 ? 'text-danger' : 'text-secondary'
                  }}"
                  nz-icon
                  [nzType]="item.status == 1 ? 'delete' : 'redo'"
                  nzTheme="outline"
                ></span>
              </button>
            </td>
          </tr>
          <tr [nzExpand]="item.expand!">
            <nz-table
              #innerTable
              [nzData]="item.productDetails"
              nzSize="middle"
              [nzShowPagination]="false"
            >
              <thead>
                <tr>
                  <th width="50px">STT</th>
                  <th>Tên phân loại</th>
                  <th>Tồn kho</th>
                  <th>Giá</th>
                  <th>Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let productDetail of innerTable.data; let i = index"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ productDetail.productDetailName }}</td>
                  <td class="text-success">
                    <b>{{ productDetail.stock }}</b>
                  </td>
                  <td class="text-danger">
                    <b>{{ productDetail.price }}đ</b>
                  </td>
                  <td>
                    <ng-container *ngIf="productDetail.status == 0">
                      <nz-tag [nzColor]="'#ff0000'">Ngừng kinh doanh</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="productDetail.status == 1">
                      <nz-tag
                        [nzColor]="
                          productDetail.stock > 0 ? '#0073e6' : '#e6e600'
                        "
                        >{{
                          productDetail.stock > 0 ? "Còn hàng" : "Hết hàng"
                        }}</nz-tag
                      >
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
