<div class="bg-white mt-4 p-3">
  <div class="d-flex justify-content-between p-3">
    <div>
      <button nz-button [nzType]="'primary'" (click)="showModal()">
        <span>Thêm mới</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzWidth]="720"
      >
        <ng-container *nzModalContent>
          <form nz-form [formGroup]="formProduct">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="productId"
                >Mã sản phẩm</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="productId"
                  id="productId"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formProduct.get('productId')?.errors?.['required'] && formProduct.get('productId')?.touched || submit && formProduct.get('productId')?.errors?.['required'] "
                >
                  Mã sản phẩm không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzRequired
                nzFor="productName"
                >Tên sản phẩm</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="productName"
                  id="productName"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formProduct.get('productName')?.errors?.['required'] && formProduct.get('productName')?.touched || submit && formProduct.get('productName')?.errors?.['required'] "
                >
                  Tên sản phẩm không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description"
                >Mô tả</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="description"
                  id="description"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="detail"
                >Chi tiết</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="detail"
                  id="detail"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender"
                >Sản phẩm của</nz-form-label
              >
              <nz-radio-group
                class="radio"
                formControlName="gender"
                nzName="gender"
              >
                <label nz-radio [nzValue]="1" nzValue="1">Nam</label>
                <label nz-radio [nzValue]="0" nzValue="0">Nữ</label>
              </nz-radio-group>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="material"
                >Chất liệu</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select
                  formControlName="material"
                  nzAllowClear
                  [nzDropdownRender]="renderMaterial"
                  nzPlaceHolder="Vui lòng chọn chất liệu"
                >
                  <nz-option
                    *ngFor="let itemMate of dataMaterial"
                    [nzValue]="itemMate.id"
                    nzLabel="{{ itemMate.materialName }}"
                  ></nz-option>
                </nz-select>
                <ng-template #renderMaterial>
                  <nz-divider></nz-divider>
                  <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a class="add-item" (click)="addMaterial(inputElement)">
                      <span nz-icon nzType="plus"></span>
                    </a>
                  </div>
                </ng-template>
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formProduct.get('material')?.errors?.['required'] && formProduct.get('material')?.touched || submit && formProduct.get('material')?.errors?.['required'] "
                >
                  Chất liệu không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="category"
                >Loại sản phẩm</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select
                  formControlName="category"
                  nzAllowClear
                  nzPlaceHolder="Vui lòng chọn loại sản phẩm"
                >
                  <nz-option
                    *ngFor="let itemCate of dataCate"
                    [nzValue]="itemCate.id"
                    nzLabel="{{ itemCate.categoryName }}"
                  ></nz-option>
                </nz-select>
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formProduct.get('category')?.errors?.['required'] && formProduct.get('category')?.touched || submit && formProduct.get('category')?.errors?.['required'] "
                >
                  Loại sản phẩm không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="model"
                >Kiểu dáng</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select
                  formControlName="model"
                  nzAllowClear
                  nzPlaceHolder="Vui lòng chọn kiểu dáng"
                >
                  <nz-option
                    *ngFor="let itemModel of dataModel"
                    [nzValue]="itemModel.id"
                    nzLabel="{{ itemModel.modelsName }}"
                  ></nz-option>
                </nz-select>
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formProduct.get('model')?.errors?.['required'] && formProduct.get('model')?.touched || submit && formProduct.get('model')?.errors?.['required'] "
                >
                  Kiểu dáng không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status"
                >Trạng thái</nz-form-label
              >
              <nz-radio-group
                formControlName="status"
                nzName="status"
                class="radio"
              >
                <label nz-radio [nzValue]="1">Active</label>
                <label nz-radio [nzValue]="0">InActive</label>
              </nz-radio-group>
            </nz-form-item> -->
          </form>
        </ng-container>
      </nz-modal>
    </div>
    <div>
      <div>
        <nz-select
          nzAllowClear
          class="selectStatus"
          nzPlaceHolder="Lọc theo trạng thái"
          [(ngModel)]="status"
        >
          <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
          <nz-option nzValue="1" nzLabel="Active"></nz-option>
          <nz-option nzValue="0" nzLabel="InActive"></nz-option>
        </nz-select>
      </div>
      <form nz-form [formGroup]="formSearch" class="formSearch">
        <div>
          <div>
            <nz-form-item>
              <nz-form-control>
                <input
                  nz-input
                  type="text"
                  formControlName="valueSearch"
                  id="valueSearch"
                  placeholder="Nhập loại sản phẩm để có thể tìm kiếm!"
                />
              </nz-form-control>
              <button
                class="btnSearch"
                nz-button
                (click)="timkiem()"
                [nzType]="'primary'"
              >
                <span>Tìm kiếm</span>
              </button>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  ---------------------------------  -->
  <nz-table
    [nzShowPagination]="false"
    #basicTable
    [nzData]="datas"
  >
    <thead>
      <tr>
        <th nzWidth="20px"></th>
        <th style="text-align: center">Tên sản phẩm</th>
        <th style="text-align: center">Mô tả</th>
        <th style="text-align: center">Chất liệu</th>
        <th style="text-align: center">Loại</th>
        <th style="text-align: center">Kiểu dáng</th>
        <th style="text-align: center">Sản phẩm của</th>
        <th style="text-align: center">Trạng thái</th>
        <th style="text-align: center">Ngày tạo SP</th>
        <th style="text-align: center">Thao tác</th>
      </tr>
    </thead>
    <tbody class="data">
      <ng-container *ngFor="let item of basicTable.data; let i_product = index">
        <tr>
          <td
            [nzExpand]="expandSet.has(item.id)"
            (nzExpandChange)="onExpandChange(item.id, $event)"
          ></td>
          <td>
            <!-- <a (click)="getInfoProduct(item.id)">{{ item.productName }}</a> -->
            {{item.productName}}
          </td>
          <td>{{ item.description }}</td>
          <td>{{ item.material!.materialName }}</td>
          <td>{{ item.category!.categoryName }}</td>
          <td>{{ item.model!.modelsName }}</td>
          <td *ngIf="item.gender == 1">Nam</td>
          <td *ngIf="item.gender == 0">Nữ</td>
          <td *ngIf="item.gender == null"></td>
          <td *ngIf="item.status">Còn hàng</td>
          <td *ngIf="!item.status">Hết hàng</td>
          <td>{{ item.ctime | date : "dd/MM/yyyy" }}</td>
          <td>
            <nz-space>
              <a
                *nzSpaceItem
                nz-button
                nzType="link"
                (click)="getInfoProduct(item.id)"
                ><span nz-icon nzType="edit"></span
              ></a>
              <a
                *nzSpaceItem
                nz-button
                nzType="text"
                nzDanger
                nz-popconfirm
                nzPopconfirmTitle="Bạn muốn xóa sản phẩm này không?"
                nzOkText="Ok"
                nzCancelText="không"
                (nzOnConfirm)="deleteProductById(item.id)"
                ><span nz-icon nzType="delete"></span
              ></a>
            </nz-space>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(item.id)">
          <nz-table
            #innerTable
            [nzData]="item.productDetails"
            nzSize="middle"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Kích cỡ</th>
                <th>Màu sắc</th>
                <th>Tồn kho</th>
                <th>Giá</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productDetails of innerTable.data; let i = index">
                <td>{{ productDetails.id }}</td>
                <td>{{ productDetails.size?.sizeName }}</td>
                <td>{{ productDetails.color?.colorName }}</td>
                <td>{{ productDetails.stock }}</td>
                <td>{{ productDetails.price }}đ</td>
                <td *ngIf="productDetails.status == 1">Còn hàng</td>
                <td *ngIf="productDetails.status == 0">Hết hàng</td>
                <td>
                  <a
                    nz-button
                    nzType="link"
                    (click)="addClassifying(productDetails)"
                    >Nhập hàng</a
                  >
                </td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <nz-pagination
    (nzPageIndexChange)="changePage($event)"
    [nzPageIndex]="1"
    [nzTotal]="5"
    nzShowSizeChanger
    [nzPageSize]="1"
  ></nz-pagination>
</div>
