<div class="bg-white mt-4 p-3 h-100">
  <div class="mb-3">
    <button nz-button [nzType]="'primary'" (click)="showModal()">
      <span>Thêm mới</span>
    </button>
  </div>
  <div class="d-flex mb-3">
    <div class="me-2" style="width: 300px">
      <label class="mb-1">Tìm kiếm tài khoản</label> <br />
      <input
        nz-input
        type="text"
        (ngModelChange)="search($event)"
        [(ngModel)]="searchAccount.searchTerm"
        placeholder="Tìm kiếm theo email hoặc số điện thoại"
      />
    </div>
    <div style="width: 200px">
      <label class="mb-1">Trạng thái</label> <br />
      <nz-select
        style="width: 100%"
        nzAllowClear
        class="selectStatus"
        nzPlaceHolder="Lọc theo trạng thái"
        (ngModelChange)="onChangeStatus($event)"
        [nzAllowClear]="false"
        [ngModel]="searchAccount.status"
      >
        <nz-option
          *ngFor="let item of commonService.statuses"
          [nzValue]="item.value"
          [nzLabel]="item.label"
        ></nz-option>
      </nz-select>
    </div>
  </div>
  <!--  ---------------------------------  -->
  <div>
    <nz-table
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzPageSizeOptions]="commonService.pageSizeOptions"
      [nzPageIndex]="searchAccount.offset + 1"
      [nzPageSize]="searchAccount.limit"
      [nzTotal]="page ? page.totalElement : 0"
      nzNoResult="Không có dữ liệu"
      [nzData]="accounts"
      (nzPageIndexChange)="onChangeIndexPage($event)"
      (nzPageSizeChange)="onChangeAccountPage($event)"
    >
      <thead>
        <tr>
          <th style="width: 50px">STT</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Role</th>
          <th style="width: 200px">Trạng thái</th>
          <th colSpan="2">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="accounts.length">
          <tr *ngFor="let item of accounts; index as i">
            <td style="width: 150px">{{ i + 1 }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td *ngIf="item.role">{{ item.role.name }}</td>
            <td *ngIf="!item.role"></td>
            <td>
              <nz-tag [nzColor]="item.status == 1 ? 'processing' : 'error'"
                >{{ item.status == 1 ? "Hoạt động" : "Đã xóa" }}
              </nz-tag>
            </td>
            <td style="text-align: center; width: 100px">
              <button nz-button nzType="text" (click)="getInfoAccount(item)">
                <span
                  class="text-primary"
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                ></span>
              </button>
              <button
                nz-button
                nzType="text"
                (click)="updateStatus(item, i, item.status == 1 ? 0 : 1)"
              >
                <span
                  class="{{
                    item.status == 1 ? 'text-danger' : 'text-secondary'
                  }}"
                  nz-icon
                  [nzType]="item.status == 1 ? 'delete' : 'redo'"
                  nzTheme="outline"
                ></span>
              </button>
            </td></tr
        ></ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isVisibleModal"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <form nz-form class="mt-4" [formGroup]="formAcc">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email"
          >Email</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="email" formControlName="email" id="email" />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formAcc.get('email')?.errors?.['required'] && formAcc.get('email')?.touched || submit && formAcc.get('email')?.errors?.['required'] "
          >
            Email không được để trống !
          </small>
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="!formAcc.get('email')?.errors?.['required'] && formAcc.get('email')?.errors?.['email']"
          >
            Email phải đúng định dạng !
          </small>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="!formAcc.value.id">
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="password"
          >Mật khẩu</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            type="password"
            formControlName="password"
            id="password"
          />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formAcc.get('password')?.errors?.['required'] && formAcc.get('password')?.touched || submit && formAcc.get('password')?.errors?.['required'] "
          >
            Mật khẩu không được để trống !
          </small>
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="!formAcc.get('password')?.errors?.['required'] && formAcc.get('password')?.errors?.['pattern']"
          >
            Mật khẩu phải có 6 ký tự trở lên, bao gồm cả chữ và số!
          </small>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="phoneNumber"
          >Số ĐT</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input
            nz-input
            type="text"
            formControlName="phoneNumber"
            id="phoneNumber"
          />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formAcc.get('phoneNumber')?.errors?.['required'] && formAcc.get('phoneNumber')?.touched || submit && formAcc.get('phoneNumber')?.errors?.['required'] "
          >
            Số điện thoại không được để trống!
          </small>
          <small
                  class="col alert text-danger"
                  role="alert"
                  *ngIf="!formAcc.get('phoneNumber')?.errors?.['required'] && formAcc.get('phoneNumber')?.errors?.['pattern']">
                  Số điện thoại phải là số và tối đa 10 kí tự!
                </small>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="role"
          >Phân quyền</nz-form-label
        >
        <nz-radio-group class="mt-1" formControlName="role" nzName="role">
          <label nz-radio [nzValue]="1">Quản lý</label>
          <label nz-radio [nzValue]="2" *ngIf="this.accountDTO.role !=  3">Nhân viên</label>
          <label nz-radio [nzValue]="3" nzDisabled="">Khách hàng</label>
        </nz-radio-group>
        <small
                class="col alert text-danger col-12"
                role="alert"
                *ngIf="formAcc.get('role')?.errors?.['required'] && submit"
              >
                Bạn phải chọn quyền!
              </small>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #noResult></ng-template>
