<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form
      nz-form
      [formGroup]="formLogin"
      class="login-form"
      (ngSubmit)="loginForm()"
    >
      <h1 class="juntify-content-center">Đăng nhập</h1>
      <div>
        <label class="mt-5">Email</label>
        <input
          type="text"
          nz-input
          formControlName="phoneOrEmail"
          placeholder="Email or Phone number"
        />
        <ng-container *ngIf="formLogin.get('phoneOrEmail')!.invalid">
          <span
            class="mt-1 text-danger"
            *ngIf="formLogin.get('phoneOrEmail')?.touched || submit"
            >{{ (formLogin.get("phoneOrEmail")?.errors)!["account"] }}</span
          >
        </ng-container>
      </div>
      <div>
        <label>Mật khẩu</label>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
        <ng-container *ngIf="formLogin.get('password')!.invalid">
          <span
            class="mt-1 text-danger"
            *ngIf="formLogin.get('password')?.touched || submit"
            >{{ (formLogin.get("password")?.errors)!["password"] }}</span
          >
        </ng-container>
      </div>
      <button class="mt-5" type="submit">Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Xin chào bạn!</h1>
        <p>Chào mừng bạn đến với 4ManFashion!</p>
      </div>
    </div>
  </div>
</div>
