<div class="" id="">
  <div
    class=""
    style="background-color: white; border-radius: 5px; padding: 10px"
  >
    <form
      nz-form
      [formGroup]="formUpdateProduct"
      class="login-form"
      (ngSubmit)="submit()"
    >
      <div class="w-100">
        <label>Tên sản phẩm</label>
        <input
          type="text"
          nz-input
          formControlName="productName"
          placeholder="Nhập tên sản phẩm"
          (change)="changeProductName($event)"
        />
        <ng-container *ngIf="formUpdateProduct.get('productName')!.invalid">
          <span
            id="error"
            *ngIf="formUpdateProduct.get('productName')?.touched"
            >{{
              (formUpdateProduct.get("productName")?.errors)!["productName"]
            }}</span
          >
        </ng-container>
      </div>
      <div style="display: flex; justify-content: space-between">
        <ng-container *ngIf="categories.length">
          <div>
            <label>Danh mục</label> <br />
            <nz-select
              id="category"
              nzShowSearch
              [nzDropdownRender]="renderCategory"
              [compareWith]="compareSelectFn"
              formControlName="category"
              nzPlaceHolder="Chọn danh mục"
            >
              <nz-option
                *ngFor="let category of categories"
                [nzLabel]="category.categoryName!"
                [nzValue]="category"
              ></nz-option>
            </nz-select>
            <ng-template #renderCategory>
              <nz-divider></nz-divider>
              <div class="container">
                <input
                  type="text"
                  nz-input
                  [(ngModel)]="categoryName"
                  [ngModelOptions]="{ standalone: true }"
                  #inputElement
                />
                <a class="add-item" (click)="insertCategory()">
                  <span nz-icon nzType="plus"></span>
                </a>
              </div>
            </ng-template>
            <br />
            <ng-container *ngIf="formUpdateProduct.get('category')!.invalid">
              <span
                id="error"
                *ngIf="formUpdateProduct.get('category')?.touched"
                >{{
                  (formUpdateProduct.get("category")?.errors)!["required"]
                    ? "Chưa chọn danh mục sản phẩm"
                    : ""
                }}</span
              >
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="models.length">
          <div>
            <label>Kiểu dáng</label> <br />
            <nz-select
              id="model"
              nzShowSearch
              [nzDropdownRender]="renderModel"
              [compareWith]="compareSelectFn"
              formControlName="model"
              nzPlaceHolder="Chọn kiểu dáng"
            >
              <nz-option
                *ngFor="let model of models"
                [nzLabel]="model.modelsName!"
                [nzValue]="model"
              ></nz-option>
            </nz-select>
            <ng-template #renderModel>
              <nz-divider></nz-divider>
              <div class="container">
                <input
                  type="text"
                  [(ngModel)]="modelName"
                  [ngModelOptions]="{ standalone: true }"
                  nz-input
                  #inputElement
                />
                <a class="add-item" (click)="insertModel()">
                  <span nz-icon nzType="plus"></span>
                </a>
              </div>
            </ng-template>
            <br />
            <ng-container *ngIf="formUpdateProduct.get('model')!.invalid">
              <span
                id="error"
                *ngIf="formUpdateProduct.get('model')?.touched"
                >{{
                  (formUpdateProduct.get("model")?.errors)!["required"]
                    ? "Chưa chọn kiểu dáng sản phẩm"
                    : ""
                }}</span
              >
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="materials.length">
          <div>
            <label>Chất liệu</label> <br />
            <nz-select
              id="material"
              nzShowSearch
              [nzDropdownRender]="renderMaterial"
              [compareWith]="compareSelectFn"
              formControlName="material"
              nzPlaceHolder="Chọn chất liệu"
            >
              <nz-option
                *ngFor="let material of materials"
                [nzLabel]="material.materialName!"
                [nzValue]="material"
              ></nz-option>
            </nz-select>
            <ng-template #renderMaterial>
              <nz-divider></nz-divider>
              <div class="container">
                <input
                  type="text"
                  nz-input
                  [(ngModel)]="materialName"
                  [ngModelOptions]="{ standalone: true }"
                  #inputElement
                />
                <a class="add-item" (click)="insertMaterial()">
                  <span nz-icon nzType="plus"></span>
                </a>
              </div>
            </ng-template>
            <br />
            <ng-container *ngIf="formUpdateProduct.get('material')!.invalid">
              <span
                id="error"
                *ngIf="formUpdateProduct.get('material')?.touched"
                >{{
                  (formUpdateProduct.get("material")?.errors)!["required"]
                    ? "Chưa chọn chất liệu sản phẩm"
                    : ""
                }}</span
              >
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="uploadImage">
        <div class="clearfix">
          <label>Ảnh</label> <br />
          <div class="upload-btn-wrapper">
            <button nz-button>Tải ảnh lên</button>
            <input type="file" name="myfile" (change)="changeImage($event)" />
          </div>
          <br />
          <div style="display: flex; justify-content: start">
            <ng-container *ngFor="let img of images; let i = index">
              <div
                style="
                  margin: 5px;
                  padding: 2px;
                  border: #c35757;
                  border-style: dashed;
                  border-width: 2px;
                  position: relative;
                "
              >
                <span
                  style="
                    background-color: white;
                    color: red;
                    position: absolute;
                    cursor: pointer;
                  "
                  nz-icon
                  nzType="close"
                  nzTheme="outline"
                  (click)="removeImage(i)"
                ></span>
                <img
                  nz-image
                  width="50px"
                  height="50px"
                  [nzSrc]="img.image"
                  alt=""
                />
              </div>
            </ng-container>
          </div>
        </div>
        <br />
        <ng-container *ngIf="!images.length && submitted">
          <span id="error">Vui lòng thêm ảnh sản phẩm</span>
        </ng-container>
      </div>
      <label for="">Phân loại</label>

      <div class="mt-3">
        <nz-table
          #tableName
          nzBordered
          [nzShowPagination]="false"
          nzTitle="Danh sách phân loại hàng"
          [nzNoResult]="noData"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên phân loại</th>
              <th>Giá</th>
              <th>Tồn kho</th>
              <th>Ngừng kinh doanh</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productDetail of productDetails; index as i">
              <td>{{ i + 1 }}</td>
              <td>
                {{ productDetail.productDetailName }}
              </td>
              <td>
                <nz-input-number
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="productDetail.price"
                  [nzMin]="0"
                  [nzStep]="1"
                ></nz-input-number>
              </td>
              <td>
                <nz-input-number
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="productDetail.stock"
                  [nzMin]="0"
                  [nzStep]="1"
                ></nz-input-number>
              </td>
              <td style="text-align: center">
                <label
                  nz-checkbox
                  [ngModel]="productDetail.status == 0"
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="stopSell($event, i)"
                ></label>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="mt-3">
        <label>Chi tiết sản phẩm</label>
        <quill-editor
          (onEditorCreated)="imageHandler($event)"
          formControlName="detail"
        ></quill-editor>
      </div>
      <div class="mt-3">
        <label>Mô tả sản phẩm</label>
        <quill-editor formControlName="description"></quill-editor>
      </div>
      <div class="float-end mt-3 pb-3">
        <!-- [disabled]="formUpdateProduct.invalid" -->
        <button nz-button type="submit" nzType="primary">Lưu sản phẩm</button>
      </div>
    </form>
  </div>
</div>
<ng-template #noData></ng-template>
