<div class="row m-0 w-100 mt-4 p-2">
  <div class="bg-white p-3 rounded-3 h-100">
    <nz-steps
      [nzCurrent]="currentIndex"
      (nzIndexChange)="onIndexChange($event)"
    >
      <ng-container *ngFor="let orderStatus of orderStatuses">
        <nz-step
          [nzIcon]="orderStatus.icon"
          style="cursor: pointer"
          [nzTitle]="orderStatus.statusName"
        ></nz-step>
      </ng-container>
    </nz-steps>
  </div>
</div>
<div class="row m-0 w-100 mt-4">
  <div class="col-7">
    <div class="bg-white p-3 rounded-3 h-100">
      <div class="">
        <nz-table [nzNoResult]="noResult">
          <thead>
            <tr>
              <th>Anh</th>
              <th>Sản phẩm</th>
              <th>Đơn giá</th>
              <th>SL</th>
              <th *ngIf="order.orderStatus == ORDER_STATUS.EXCHANGE">
                SL ban đầu
              </th>
              <th>Thành tiền</th>
              <th *ngIf="order.orderStatus < ORDER_STATUS.DELIVERING"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let orderDetail of order.orderDetails;
                let i_order_detail = index
              "
            >
              <td>anh</td>
              <td>
                <b>{{ orderDetail.productDetail!.productDetailName }}</b>
                <br />
                <ng-container
                  *ngIf="
                    orderDetail.statusOrderDetail ==
                      ORDER_DETAIL_STATUS.EXCHANGE_PENDING ||
                    orderDetail.statusOrderDetail ==
                      ORDER_DETAIL_STATUS.RETURN_PENDING
                  "
                >
                  <button
                    class="d-flex align-items-center"
                    nz-button
                    nzType="primary"
                    [style]="{ 'background-color': '#1890ff', border: 'none' }"
                    nzSize="small"
                    (click)="showExchangeReason(orderDetail)"
                  >
                    {{
                      orderDetail.statusOrderDetail ==
                      ORDER_DETAIL_STATUS.EXCHANGE_PENDING
                        ? "Xem đơn đổi trả"
                        : "Xem đơn hoàn"
                    }}
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                  </button>
                </ng-container>
                <ng-container
                  *ngFor="let status of commonService.orderDetailStatuses"
                  ><button
                    *ngIf="orderDetail.statusOrderDetail == status.status"
                    [style]="{
                      'background-color': status.color,
                      border: 'none'
                    }"
                    class="d-flex align-items-center"
                    nz-button
                    nzType="primary"
                    nzSize="small"
                    (click)="showExchangeReason(orderDetail)"
                  >
                    {{ status.title }}
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                  </button>
                </ng-container>
                <ng-container
                  *ngIf="
                    order.orderStatus == ORDER_STATUS.EXCHANGE &&
                    orderDetail.statusOrderDetail ==
                      ORDER_DETAIL_STATUS.ACTIVE &&
                    orderDetail.quantity! > 0
                  "
                >
                  <div class="mt-3 d-flex">
                    <button
                      class="d-flex align-items-center me-2"
                      style="margin-right: 10px"
                      nz-button
                      nzType="primary"
                      nzSize="small"
                      (click)="showReturnOrder(orderDetail)"
                    >
                      <span nz-icon nzType="redo" nzTheme="outline"></span>Trả
                      hàng hoàn tiền
                    </button>
                    <button
                      class="d-flex align-items-center me-2"
                      nz-button
                      nzType="primary"
                      nzSize="small"
                      (click)="showExchangeOrder(orderDetail)"
                    >
                      <span nz-icon nzType="swap" nzTheme="outline"></span>Đổi
                      trả
                    </button>
                  </div>
                </ng-container>
              </td>
              <td>{{ orderDetail.price | number }}đ</td>
              <td>
                <nz-input-number
                  *ngIf="order.orderStatus < ORDER_STATUS.DELIVERING"
                  [(ngModel)]="orderDetail.quantity"
                  [nzMin]="1"
                  [nzStep]="1"
                  [nzMax]="
                    orderDetail.productDetail
                      ? orderDetail.productDetail.stock
                      : 0
                  "
                  (ngModelChange)="updateQuantityOrderDetail(orderDetail)"
                ></nz-input-number>

                <b
                  *ngIf="order.orderStatus >= ORDER_STATUS.DELIVERING"
                  class="{{
                    orderDetail.quantity! > 0 ? 'text-primary' : 'text-danger'
                  }}"
                  >{{ orderDetail.quantity }}
                </b>
              </td>
              <td *ngIf="order.orderStatus == ORDER_STATUS.EXCHANGE">
                <b
                  class="{{
                    orderDetail.quantity! > 0 ? 'text-primary' : 'text-danger'
                  }}"
                  >{{ orderDetail.quantityOrigin }}</b
                >
              </td>
              <td>
                {{ orderDetail.price! * orderDetail.quantity! | number }}đ
              </td>
              <td *ngIf="order.orderStatus < ORDER_STATUS.DELIVERING">
                <button
                  nz-button
                  (click)="deleteProductToOrderDetail(orderDetail)"
                  nzType="text"
                >
                  <span
                    class="text-danger"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                  ></span>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="m-3" *ngIf="order.orderStatus < ORDER_STATUS.DELIVERING">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            #searchBox
            type="text"
            [(ngModel)]="searchProduct.searchTerm"
            nz-input
            placeholder="Tìm kiếm sản phẩm"
            (ngModelChange)="search($event)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <ng-container *ngFor="let product of products; let i_product = index">
          <div class="mt-3 mb-3 shadow-sm row">
            <div class="col-2">
              <img
                [src]="product.productImages![0].image"
                alt=""
                width="100%"
              />
            </div>
            <div class="col-10">
              <h6>
                <b>{{ product.productName }}</b>
              </h6>
              <h6 class="text-danger" *ngIf="product.productDetailSelected">
                {{ product.productDetailSelected.price | number }}đ
              </h6>
              <ng-container *ngIf="product.colors && product.colors.length">
                <div class="mb-3">
                  <label for="">Màu sắc</label> <br />
                  <nz-radio-group
                    [(ngModel)]="product.colorSelected"
                    nzButtonStyle="solid"
                    (ngModelChange)="onChangeOptions(product, i_product)"
                  >
                    <label
                      nz-radio-button
                      [nzValue]="color"
                      *ngFor="let color of product.colors"
                      >{{ color.colorName }}</label
                    >
                  </nz-radio-group>
                </div>
              </ng-container>
              <ng-container *ngIf="product.sizes && product.sizes.length">
                <div class="mb-3">
                  <label for="">Kích cỡ</label> <br />
                  <nz-radio-group
                    [(ngModel)]="product.sizeSelected"
                    nzButtonStyle="solid"
                    (ngModelChange)="onChangeOptions(product, i_product)"
                  >
                    <label
                      nz-radio-button
                      [nzValue]="size"
                      *ngFor="let size of product.sizes"
                      >{{ size.sizeName }}</label
                    >
                  </nz-radio-group>
                </div>
              </ng-container>
              <div>
                <label for=""
                  >Số lượng
                  {{ "(" + (product.stock ? product.stock : 0) + ")" }}</label
                >
                <br />
                <nz-input-number
                  [nzDisabled]="
                    (((product.sizes && product.sizes.length >= 1) ||
                      (product.colors && product.colors.length >= 1)) &&
                      ((product.sizes && product.sizes.length > 0
                        ? product.sizeSelected == null
                        : false) ||
                        (product.colors && product.colors.length > 0
                          ? product.colorSelected == null
                          : false))) ||
                    product.stock == 0
                  "
                  [(ngModel)]="product.amount"
                  [nzMin]="product.stock ? 1 : 0"
                  [nzStep]="1"
                  [nzMax]="product.stock ? product.stock : 0"
                ></nz-input-number>
                <span class="text-danger ms-2" *ngIf="product.stock == 0"
                  >Hết hàng</span
                >
              </div>
              <button
                [disabled]="
                  (((product.sizes && product.sizes.length >= 1) ||
                    (product.colors && product.colors.length >= 1)) &&
                    ((product.sizes && product.sizes.length > 0
                      ? product.sizeSelected == null
                      : false) ||
                      (product.colors && product.colors.length > 0
                        ? product.colorSelected == null
                        : false))) ||
                  product.stock == 0
                "
                class="mt-3"
                nz-button
                nzType="primary"
                (click)="addToCart(product, i_product)"
              >
                <span nz-icon nzType="shopping-cart"></span>
                Thêm vào đơn hàng
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin khách hàng</h6>
        <ng-container *ngIf="isGetOrderDetail">
          <app-customer-info
            [orderStatus]="order.orderStatus"
            [purchaseType]="order.purchaseType"
          ></app-customer-info
        ></ng-container>
      </div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin thanh toán</h6>
        <div class="d-flex justify-content-between">
          <p nz-typography>Tổng tiền hàng</p>
          <p nz-typography>
            <b>{{ order.goodsValue | number }}đ</b>
          </p>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngIf="this.order.delivery == 1"
        >
          <p nz-typography>Phí giao hàng</p>
          <p nz-typography>
            <b>{{ order.shipFee | number }}đ</b>
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p nz-typography>Tổng tiền</p>
          <p nz-typography>
            <b>{{ order.totalMoney | number }}đ</b>
          </p>
        </div>
        <div class="row d-flex justify-content-between">
          <p nz-typography class="col-6">Khách thanh toán</p>
          <div class="col-6">
            <nz-input-number
              style="width: 100%"
              [(ngModel)]="order.checkout"
              [nzMin]="1"
              [nzStep]="1"
              (ngModelChange)="saveOrderStore()"
            ></nz-input-number>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <p nz-typography>Còn thiếu</p>
          <p nz-typography>
            <b> {{ order.totalMoney - order.checkout | number }}đ</b>
          </p>
        </div>
        <textarea
          nz-input
          placeholder="Ghi chú"
          [(ngModel)]="order.note"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          (ngModelChange)="noteChange($event)"
        ></textarea>
      </div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin giao hàng</h6>
        <ng-container
          *ngIf="
            order.orderStatus < ORDER_STATUS.DELIVERING;
            else showInfoDelivery
          "
        >
          <ng-container *ngIf="isGetOrderDetail">
            <app-delivery
              [order]="order"
              [address]="order.address"
              [delivery]="order.delivery!"
            ></app-delivery></ng-container
        ></ng-container>
        <ng-template #showInfoDelivery>
          <div class="mt-2" *ngIf="order.delivery == 1">
            <div class="d-flex justify-content-between">
              <p nz-typography>Tên KH</p>
              <p nz-typography>{{ order.recipientName }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p nz-typography>Email</p>
              <p nz-typography>{{ order.recipientEmail }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p nz-typography>SĐT</p>
              <p nz-typography>{{ order.recipientPhone }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p nz-typography>Địa chỉ</p>
              <p nz-typography>{{ order.address }}</p>
            </div>
          </div>
          <div class="mt-2" *ngIf="order.delivery == 0">
            <div class="d-flex justify-content-between">
              <p nz-typography>Địa chỉ</p>
              <p nz-typography>Tại cửa hàng</p>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel
            [nzHeader]="headerCollapse"
            [(nzActive)]="isShowStatusHistory"
          >
            <nz-timeline *ngFor="let log of order.logsOrderStatus">
              <nz-timeline-item>
                <span>
                  <b>{{ log.newStatus | orderStatus }}</b>
                  <p>{{ log.user_change }}</p>
                </span>
                <p>
                  {{ log.times | date : "HH:mm dd/MM/yyyy" }}
                </p></nz-timeline-item
              >
            </nz-timeline>
          </nz-collapse-panel>
        </nz-collapse>
        <ng-template #headerCollapse
          ><b>Lịch sử trạng thái đơn hàng</b></ng-template
        >
      </div>
      <div class="p-3 rounded-3 d-flex justify-content-end bg-white">
        <button nz-button nzType="default" nzSize="large">
          <span nz-icon nzType="printer" nzTheme="outline"></span>
          In hóa đơn
        </button>
        <button nz-button nzType="primary" nzSize="large" (click)="save()">
          <span nz-icon nzType="save" nzTheme="outline"></span>
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noResult> </ng-template>

<nz-modal
  [(nzVisible)]="isShowConfirmCancelOrder"
  nzTitle="Hủy đơn hàng"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="cancelOrder()"
>
  <ng-container *nzModalContent>
    <textarea
      nz-input
      [(ngModel)]="cancelNote"
      placeholder="Nhập lý do hủy đơn hàng"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
  </ng-container>
</nz-modal>
<!-- ngxPrintItem printName="First one" -->
<!-- <div style="display: none">
  <app-printer-order [order]="order"></app-printer-order>
  <div id="printDiv">
    <div id="page" class="p-3" style="width: 500px">
      <section>
        <h2 class="text-center"><b>Mobigenz Store</b></h2>
        <h5 class="text-center">Hóa đơn mua hàng</h5>
        <p class="text-center">{{ nowDate | date : "HH:mm dd/MM/yyyy" }}</p>
        <div class="row">
          <label class="col">Mã hóa đơn: {{ order.id }}</label>
        </div>
        <div class="row">
          <label class="col">Tên khách hàng: {{ order.recipientName }}</label>
        </div>
        <div class="row">
          <label class="col">Điện thoại: {{ order.recipientPhone }}</label>
        </div>
        <div class="row">
          <label class="col">Email: {{ order.recipientEmail }}</label>
        </div>
        <div class="row">
          <label class="col">SĐT: {{ order.recipientPhone }}</label>
        </div>
        <div class="row">
          <label class="col">Địa chỉ: {{ order.address }}</label>
        </div>
        <div>
          -------------------------------------------------------------------------
        </div>
        <div>
          <table
            class="table table-borderless"
            *ngFor="let item of order.orderDetails"
          >
            <thead>
              <tr>
                <th class="w-50">Giá bán</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Trạng thái đơn hàng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-50">
                  {{ item.price }} <br />
                  {{ item.quantity }}
                </td>
                <td>{{ item.statusExchange }}</td>
                <td>{{ item.price! * item.quantity! | number }}đ</td>
              </tr>
              <tr>
                <td colspan="2"><b>Tổng tiền</b></td>
                <td>{{ order.totalMoney | number }}đ</td>
              </tr>
              <tr>
                <td colspan="2"><b>Khách thanh toán</b></td>
                <td>{{ order.checkout | number }}đ</td>
              </tr>
              <tr>
                <td colspan="2"><b>Dư nợ</b></td>
                <td>{{ order.totalMoney! - order.checkout! | number }}đ</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          -------------------------------------------------------------------------
        </div>
        <div class="row" *ngFor="let item of order.orderDetails">
        <label class="col"
            >Ngày tạo: {{ order.ctime | date : "HH:mm dd/MM/yyyy" }}</label
          >
        </div>
        <div class="row">
          <label class="col">Nhân viên bán hàng: 4ManFashion</label>
        </div>
        <div>
          -------------------------------------------------------------------------
        </div>
        <div class="row text-center">
          <label class="col"><b>Chính sách đổi trả</b></label>
        </div>
        <div class="row text-center">
          <label class="col">
            Cửa hàng hỗ trợ 1 đổi 1 trong vòng 30 ngày kể từ ngày khách nhận
            hàng nếu có lỗi từ nhà sản xuất!</label
          >
        </div>
        <div class="row text-center">
          <label class="col"><b>CẢM ƠN QUÝ KHÁCH ĐÃ MUA HÀNG</b></label>
        </div>
        <div class="row text-center">
          <label class="col"><b>HẸN GẶP LẠI!</b></label>
        </div>
      </section>
    </div>
  </div>
</div> -->
<br />
